<html>

<body>

    <table border="1" cellspacing="0" cellpadding="3" style="width: 900px;">
        <tr style="text-align: center;">
            <td style="padding: 2px; line-height: 0.8;">
                <p><b>$orcamento.mantenedora.nomeFantasia</b></p>
                <p><b>Razão social: $orcamento.mantenedora.razaoSocial</b></p>
                <p>Telefone: $orcamento.mantenedora.telefone / $orcamento.mantenedora.telefone2</p>
                <p>E-mail: $orcamento.mantenedora.email</p>
                <p>$orcamento.mantenedora.endereco.logradouro, Nº $orcamento.mantenedora.endereco.numero, $orcamento.mantenedora.endereco.bairro</p>
                <p>CEP: $orcamento.mantenedora.endereco.cep, $orcamento.mantenedora.endereco.nomeCidade / $orcamento.mantenedora.endereco.estado</p>
                <p>CNPJ: $orcamento.mantenedora.cnpj Ins. Est. $orcamento.mantenedora.inscricaoEstadual Ins. Mun. $orcamento.mantenedora.inscricaoMunicipal</p>
            </td>
        </tr>
    </table>

    <br />

    <table>
        <tr>
            <td style="width: 100px">Número:</td>
            <td>$orcamento.idFormatted</td>
        </tr>
        <tr>
            <td>Cliente:</td>
            <td>$orcamento.cliente.razaoSocial</td>
        </tr>
        <tr>
            <td>Valor total:</td>
            <td>$numberTool.format("¤ #0.00", $orcamento.valorOrcamento, $locale)</td>
        </tr>
        <tr>
            <td>Solicitante:</td>
            <td>$orcamento.solicitante</td>
        </tr>
        <tr>
            <td>Responsável:</td>
            <td>$orcamento.responsavel</td>
        </tr>
        <tr>
            <td>Data:</td>
            <td>$orcamento.dataOrcamentoFormatted</td>
        </tr>
    </table>

    <br />
    <table border="1" cellspacing="0" cellpadding="3" style="width: 900px;">
        <tr>
            <th>Serviço</th>
            <th style="width: 100px;">Valor unitário</th>
            <th>Qtde</th>
            <th style="width: 100px;">Valor total</th>
        </tr>
        #foreach ($item in $orcamento.itensOrcamento)
        <tr>
            <td>$item.descricao</td>
            <td style="text-align: right;">$numberTool.format("¤ #0.00", $item.valor, $locale)</td>
            <td style="text-align: right;">$item.quantidade</td>
            <td style="text-align: right;">$numberTool.format("¤ #0.00", $item.valorTotal, $locale)</td>
        </tr>
        #end
    </table>

    <br />

    <table>
        <tr>
            <td style="width: 150px">Prazo de pagamento:</td>
            <td>$orcamento.cliente.prazoPagamento</td>
        </tr>
        <tr>
            <td>Prazo de entrega:</td>
            <td>$orcamento.cliente.prazoEntrega</td>
        </tr>
        <tr>
            <td>Prazo da proposta:</td>
            <td>$orcamento.cliente.validadeProposta</td>
        </tr>
    </table>
</body>

</html>