body {
	margin: 0;
	font-size: 13px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* TABVIEW */
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
	color: #555;
}

@media ( max-width : 640px) {
	.ui-tabs.ui-tabs-top>.ui-tabs-nav li {
		width: 100%;
	}
}

/* PANELGRID */
.ui-panelgrid.panelgrid-noborder .ui-grid-responsive {
	border: none;
	background: none;
}

.ui-panelgrid.panelgrid-withmargin .ui-grid-responsive {
	border: none;
	margin-top: 20px;
	background: none;
}

.ui-panelmenu .ui-panelmenu-header a {
  text-decoration: none;
}

.ui-growl {
	z-index: 9999;
	margin-top: 40px;
}


@media ( max-width : 640px) {
	.ui-panelgrid.panelgrid-noborder .ui-grid-responsive .ui-grid-row,
		.ui-panelgrid.panelgrid-withmargin .ui-grid-responsive .ui-grid-row {
		border: none;
	}
}

/* PANELMENU */
.ui-panelmenu  {
	font-size: 1.1em;
	border: none;
}
