body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
	background-color: #084B8A; /*#3B240B;*/
}

.div-central {
	margin-left: 35%;
	margin-top: 15%;
	width: 30%;
	height: 30%;
	background-color: white;
	font-size: 15px;
	border-radius: 5px;
}

.centralizado {
	text-align: center;
	margin: 10% 20%;
}

.logo {
	margin-top: 10px;
	width: 180px;
	height: 120px;
}

@media ( max-width : 640px) {
	.div-central {
		width: 90%;
		margin-left: 5%;
	}
}